@model IEnumerable<lockerSystem.ViewsModels.BuildingViewsModels> ;

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">المباني</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
            <a asp-action="add" class="btn btn-primary">إضافة مبنى</a>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(m => m.code)</th>
                    <th> @Html.DisplayNameFor(m => m.NameAr)</th>
                    <th> @Html.DisplayNameFor(m => m.NameEn)</th>
                    <th> @Html.DisplayNameFor(m => m.no)</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr class="cursor-pointer">
                        <td>@x.code</td>
                        <td>@x.NameAr</td>
                        <td>@x.NameEn</td>
                        <td>@x.no</td>
                        
                        <td class="action_td text-end">
                            <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>
                            <a asp-action="Delete" asp-route-id="@x.Guid" class="btn btn-sm btn-danger">حذف</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

