 @model IEnumerable<lockerSystem.ViewModels.PermissionViewsModels>;



<div class="block mb-8">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">الصلاحيات </h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
           
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(m => m.fullName)</th>
                    @*هنا هو عبارة عن اليوزر نيم ليه يطلع الايميل في مكانه ؟؟*@
                    <th> @Html.DisplayNameFor(m => m.usrName)</th>
                    <th> @Html.DisplayNameFor(m => m.roleName)</th>
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr class="cursor-pointer">
                        <td>@x.fullName</td>
                        <td>@x.usrName</td>
                        <td>@x.roleName</td>
                        <td>
                            @*يبيلك تعدلين موقعهم بحيث يكونون في نهاية الصفحة من اليسار يعني حركيهم لليسار زيادة ؟؟*@
                        <td class="action_td text-end">
                            <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>

                            <a asp-action="removePermission" asp-route-id="@x.Guid" class="btn btn-sm btn-danger">حذف</a>


                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

