@model BookingViewsModels 

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">حجز جديد</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @* asp-items="@(new SelectList(Model.Locker.Floor.Building.NameAr, "Id","NameAr"))" *@
                <form asp-action="add">
                    <div class="row">
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1" asp-for="colegename">  اختر المبنى</label>
                                <select type="text" class="form-control" asp-for="colegename" id="BuildingId" asp-items="@ViewBag.Building"> </select>
                            </div>
                        </div>
                       
                        <!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label class="mb-1" asp-for="floornumer"> اختر الطابق</label>
                                <select type="text" class="form-control" asp-for="floornumer" id="FloorId"> </select>
                            </div>
                        </div> <!-- END ITEM -->
                    </div>
                </form>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-5" title="save">عرض الخزائن</button>
                    </div>
            </div>
        </div>
    </div>
 <div class="block mb-4">

    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">الخزائن</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.fullName)</th>
                                <th> @Html.DisplayNameFor(m => m.email)</th>
                                <th> @Html.DisplayNameFor(m => m.phone)</th>
                                <th>  @Html.DisplayNameFor(m => m.BookingState.NameAr) </th>

                                <th>@Html.DisplayNameFor(m => m.Locker.Floor.no) </th>
                                <th>@Html.DisplayNameFor(m => m.Locker.no)</th>
                                <th>@Html.DisplayNameFor(m => m.colegename)  </th>
                                <th></th>


                            </tr>
                        </thead>
                       <tbody>
                            @{
                                foreach (LockerViewsModels item in ViewBag.locker)
                                {
                                    <tr>
                                       <td>@item. bokingDateTime</td>
                                      <td>@item.no</td>
                                        <td>@item.Floor.Building.NameAr</td>
                                        <td>@item.Floor.no</td>
                                        <td>@item.LockerState.stateAr</td>
                              
                                        <td>
                                            <a asp-action="add" asp-route-id="@item.Guid" class="btn btn-sm btn-success"> حجز</a>

                                        </td>


                                    </tr>


                                }
                            }
                        </tbody> 
                    </table>



                </div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function () {
        showValue($("#BuildingId").val());
    });


    $("#BuildingId").on("change", function () {
        showValue($(this).val());
    });

    function showValue(val) {
        $.getJSON('@Url.Action("getFloorByBuildingId", "Booking")/' + val, function (result) {
            console.log(result);
            $("#FloorId").html(""); // makes select null before filling process
            for (var i = 0; i < result.length; i++) {
                $("#FloorId").append("<option value='" + result[i].guid + "'>" + result[i].no + "</option>")
            }
        });
    }
</script>
