@model IEnumerable<BookingViewsModels>;

@* 
<div class="block mb-4">
    
   <div class="card"> *@
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        @* <h5 class="m-0">المستخدمين</h5> *@
         <h5>عرض معلومات الحجز</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <input type="text" class="form-control table__quick_search"
                       placeholder="البحث السريع ...">
            </div>
            <a asp-action="Index" class="btn btn-primary">حجز خزانة</a>
            <a asp-controller="Home" asp-action="Index"  class="btn btn-primary"> الصفحة الرئيسية</a>
        </div>
    </div> 

 
    
    <div class="card-body">
        <div class="row">
          @*  <h5>عرض معلومات الحجز</h5> *@

            <div class="col-md-6">
                <div class="mb-4">
                    <label class="mb-1" asp-for="colegename">   @Html.DisplayNameFor(m => m.fullName)</label>
                    <input 
                </div>
            </div>

            <!-- END ITEM -->
            <!-- START ITEM -->
            <div class="col-md-6">
                <div class="mb-4">
                    <label class="mb-1" asp-for="floornumer">  @Html.DisplayNameFor(m => m.email)</label>
                    
                </div>
            </div> <!-- END ITEM -->
            <div class="col-md-12">
                <div class="table-responsive">

                    <table class="table table-hover table-striped table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.fullName)</th>
                                <th> @Html.DisplayNameFor(m => m.email)</th>
                                <th> @Html.DisplayNameFor(m => m.phone)</th>
                                <th>  @Html.DisplayNameFor(m => m.BookingState.NameAr) </th>
                                <th>@Html.DisplayNameFor(m => m.Locker.Floor.no) </th>
                                <th>@Html.DisplayNameFor(m => m.Locker.no)</th>
                                <th>@Html.DisplayNameFor(m => m.colegename)  </th>
                                <th>@Html.DisplayNameFor(m => m.bokingDateTime)  </th>
                                <th>@Html.DisplayNameFor(m => m.Floor.Building.NameAr)  </th>
                                <th>@Html.DisplayNameFor(m => m.LockerState.stateAr)  </th>
                                <th></th>


                           </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (BookingViewsModel item in Model)
                                {
                                    <tr>
                                        @* <td>@item. bokingDateTime</td>*@
                                        <td>@item.fullName</td>
                                        <td>@item.email</td>
                                        <td>@item.phone</td>
                                        <td>@item.BookingState.NameAr</td>
                                        <td>@item.Locker.Floor.no</td>
                                        <td>@item.Locker.no</td>
                                        <td>@item.colegename</td>
                                        <td>@item. bokingDateTime</td>
                                        <td>@item.Floor.Building.NameAr</td>
                                        <td>@item.LockerState.stateAr</td>
                                        <td>
                                            

                                        </td>

                                        <a asp-action="orders" asp-route-id="@item.Guid" class="btn btn-sm btn-success"> H</a>
                                    </tr>
     


                                }
                                            

                            }

                        </tbody>
                    </table>
                       
                
                       
                </div>

            </div>

        </div>
    </div>              

</div>