@model FloorViewsModels
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "Floor")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null)
        {
            <Text>
                                            var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة طابق</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="addFloor">
                    <div class="row">
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="FloorNo" class="mb-1"> </label>
                                <input asp-for="FloorNo" type="text" class="form-control">
                                <span asp-validation-for="FloorNo" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="BuildingId" class="mb-1"> </label>
                                <select asp-for="BuildingId" type="number" class="form-control" asp-items="@ViewBag.Building">
                                </select>
                                <span asp-validation-for="BuildingId" class="text-danger"></span>

                            </div>
                        </div>
               
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

