@model LockerStateViewsModels
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                               var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result, '', 'success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "LockerState")';
                            }
                        );
            </Text>
        }
        else if (@ViewData["Falied"] != null)
        {
            <Text>
                               var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                   ;
            </Text>
        }
    }
</script>

<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-4">
        <h5 class="m-0">إضافة حاله</h5>
    </div>
    <div class="block-body py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">


                <form asp-action="add">
                    <div class="row">
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="stateAr" class="mb-1"> </label>
                                <input asp-for="stateAr" type="text" class="form-control">
                                <span asp-validation-for="stateAr" class="text-danger"></span>
                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                <label asp-for="stateEn" class="mb-1"> </label>
                                <input asp-for="stateEn" type="text" class="form-control">
                                <span asp-validation-for="stateEn" class="text-danger"></span>

                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                @* <label asp-for="no" class="mb-1"> </label>
                                <input asp-for="no" type="number" class="form-control">
                                <span asp-validation-for="no" class="text-danger"></span> *@

                            </div>
                        </div><!-- END ITEM -->
                        <!-- START ITEM -->
                        <div class="col-md-6">
                            <div class="mb-4">
                                @*  <label asp-for="code" class="mb-1"> </label>
                                <input asp-for="code" type="text" class="form-control">
                                <span asp-validation-for="code" class="text-danger"></span>
                                *@
                            </div>
                        </div><!-- END ITEM -->



                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" asp-route-for="Index" class="btn btn-primary px-5" title="save">إضافة</button>
                    </div>
                </form>




            </div>
        </div>
    </div>
</div>
