@model IEnumerable<lockerSystem.ViewsModels.LockerStateViewsModels> ;

<div class="block mb-4">

            <div class="block-header border-bottom px-4 py-3">

                <h5 class="m-0">الحالات</h5>
                <div class="d-flex gap-2">
                    <div class="form-group">
                        <form class="d-md-inline-flex" asp-action="Index" asp-controller="LockerState">
                            <div class="col-md-6">
                         <input type="search" name="seaechString" class="form-control table__quick_search"
                               placeholder="البحث السريع ...">
                               </div>
                            <div class="col-md-8">
                            <button class="btn btn-primary" type="submit">البحث من خلال الأسم </button>
                            </div>
                                        </form>

                    </div>
                                <div class="col-md-4">
                        <a asp-action="Index" class="btn btn-primary">العودة الى القائمة </a>
                                </div>
                    <a asp-action="add" class="btn btn-primary">اضافة </a>
                </div>
            </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    @* <th>@Html.DisplayNameFor(m => m.Id)</th> *@
                    <th> @Html.DisplayNameFor(m => m.stateAr)</th>
                    <th> @Html.DisplayNameFor(m => m.stateEn)</th>

                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr class="cursor-pointer">
                        @*  <td>@x.Id</td> *@
                        <td>@x.stateAr</td>
                        <td>@x.stateEn</td>

                        @*   <td>@x.NameEn</td>
                    <td>@x.no</td> *@

                        <td class="action_td text-end">
                            <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>
                            <a asp-action="Delete" asp-route-id="@x.Guid" class="btn btn-sm btn-danger">حذف</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

