@model ManagementViewsModels


        <script>
            @{
                if (@ViewData["Successful"] != null)
                {
                    <Text>
                                                                        var result = '@Html.Raw(ViewData["Successful"])';
                    Swal.fire(result, '', 'success')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Management")';
                            }
                        );
                    </Text>
                }
                else if (@ViewData["Falied"] != null)
                {
                    <Text>
                                                                        var result = '@Html.Raw(ViewData["Falied"])';
                    Swal.fire(result, '', 'error')
                        .then(
                            function () {
                                window.location.href = '@Url.Action("Index", "Management")';
                            }
                        );
                    </Text>
                }
            }
        </script>
        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-4">
                <h5 class="m-0">إضافة اعددادات النظام</h5>
            </div>
            <div class="block-body py-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        
                        <form asp-action="add">
                            <div class="row">
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="name" class="mb-1">الاسم</label>
                                        <input asp-for="name" type="text" class="form-control">
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                                <!-- START ITEM -->
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label asp-for="value" class="mb-1">القيمة</label>
                                        <input asp-for="value" type="number" class="form-control">
                                        <span asp-validation-for="value" class="text-danger"></span>
                                    </div>
                                </div><!-- END ITEM -->
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary px-5" title="save">حفظ</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>



    
