@model IEnumerable<lockerSystem.ViewsModels.ManagementViewsModels>;
<!-- Start Page Wrap -->
<section class="page_wrap">
    <div class="page_content">

        <div class="block mb-4">
            <div class="block-header border-bottom px-4 py-3">
                <h5 class="m-0">ادارة النظام</h5>
                <div class="d-flex gap-2">

                    <a asp-action="add" class="btn btn-primary">اضافة </a>
                   @*  //sha *@
                    <!-- Add Section Modal -->
                    <div class="modal fade" id="add_section" tabindex="-1"
                         aria-labelledby="add_sectionLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">

                                <div class="modal-body">

                                    <div class="form-group">
                                        <label for="">اسم المستخدم</label>
                                        <input type="text" name="" id="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="">البريد الإلكتروني</label>
                                        <input type="text" name="" id="" class="form-control">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">
                                        إلغاء
                                    </button>
                                    <button type="button" class="btn btn-primary">حفظ</button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-body">
                <table class="table table-hover js-dataTable">
                    <thead>
                        <tr>
                            <th> @Html.DisplayNameFor(m => m.name)</th>
                            <th> @Html.DisplayNameFor(m => m.value)</th>

                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var x in Model)
                            {

                                <tr class=" cursor-pointer">

                                    <td>@x.name</td>
                                    <td>@x.value</td>

                                    <td class="action_td text-end">
                                        <a asp-action="edit" class="btn btn-sm btn-success" asp-route-id="@x.Guid">تعديل</a>
                                        <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@x.Guid">حذف</a>
                                    </td>
                                </tr>


                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <

    </div>
</section><!-- End Page Wrap -->