 @model IEnumerable<lockerSystem.ViewsModels.LockerViewsModels> ;
<script>
    @{
        if (@ViewData["Successful"] != null)
        {
            <Text>
                                                var result = '@Html.Raw(ViewData["Successful"])';
            Swal.fire(result, '', 'success')
                .then(
                    function () {
                        window.location.href = '@Url.Action("Index", "Locker")';
                    }
                );
            </Text>
        }
        else if (@ViewData["Falied"] != null)
        {
            <Text>
                                                var result = '@Html.Raw(ViewData["Falied"])';
            Swal.fire(result, '', 'error');
            </Text>
        }
    }
</script>
<div class="block mb-4">
    <div class="block-header border-bottom px-4 py-3">
        <h5 class="m-0">الخزائن</h5>
        <div class="d-flex gap-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <form class="d-flex " asp-action="Index" asp-controller="Locker">
                            <div class="col-md-6">
                            <input type="search" name="searchNumber" class="form-control me-1"
                                   placeholder="البحث السريع ...">

                                </div>
                            <div class="col-md-8">
                                <button class="btn btn-primary" type="submit">بحث بواسطة رقم الخزنة</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a asp-action="Index" class="btn btn-primary">الرجوع الى القائمة</a>
                    </div>
                </div>
            </div>
            <a asp-action="add" class="btn btn-primary">إضافة خزنة</a>
        </div>
    </div>
    <div class="block-body">
        <table class="table table-hover js-dataTable">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(m => m.BuildingName)</th>
                    <th> @Html.DisplayNameFor(m => m.FloorNo)</th>
                    <th> @Html.DisplayNameFor(m => m.no)</th>
                    <th> @Html.DisplayNameFor(m => m.stateAr)</th>
                    @* <th> @Html.DisplayNameFor(m => m.userType)</th> *@
                    <th class=""></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr class="cursor-pointer">
                        <td>@x.BuildingName</td>
                        <td>@x.Floor.no</td>
                        <td>@x.no</td>
                        <td>@x.LockerState.stateAr</td>
                        @*  <td>@x.userType</td> *@
                        <td class="action_td text-end">
                            <a asp-action="Edit" asp-route-id="@x.Guid" class="btn btn-sm btn-success">تعديل</a>
                            <a asp-action="delete" asp-route-id="@x.Guid" class="btn btn-sm btn-danger">حذف</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>